#main section .nav  { float: left; width: 100%; text-align: right; }
#main section .nav > li { display: inline;}
#main section .nav li strong { color: #3e7c5d;}
#main h2{font-size: 2.5em;}
#main h3{font-size: 1.5em;}
#main section article p{ font-size: 20px !important;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #49bf9d;
    text-decoration: none;
}