<!DOCTYPE HTML>
<html>
<head>
    <title>{{ site.title }} &sharp; {{ site.subtitle }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
    <meta name="robots" content="noindex, follow">
    {% endblock %}

    <!--[if lte IE 8]>
    <script src="{{ site.url }}/assets/css/ie/html5shiv.js"></script>
    <![endif]-->
    <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.poptrox.min.js"></script>
    <script src="{{ site.url }}/assets/js/skel.min.js"></script>
    <script src="{{ site.url }}/assets/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/skel.css"/>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css"/>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/style-xlarge.css"/>
    </noscript>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/ie/v8.css"/>
    <![endif]-->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/codepretty/desert.css"/>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/components/highlightjs/styles/github.css') }}" />
    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body id="top">

<!-- Header -->
<header id="header">
    <a href="#" class="image avatar"><img src="{{ site.url }}{{ site.authors.avatar }}" alt=""/></a>

    <h1>{{ site.authors.description }}</h1>
</header>

<!-- Main -->
<div id="main">
    <!-- One -->
    <section id="one">
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </section>
</div>

<!-- Footer -->
{% include "footer" %}

</body>
</html>