<!DOCTYPE HTML>
<html>
<head>
    <title>{{ site.title }} &sharp; {{ site.subtitle }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
    <meta name="robots" content="noindex, follow">
    {% endblock %}
    <!--[if lte IE 8]>
    <script src="{{ site.url }}/{{ theme_path('assets/css/ie/html5shiv.js') }}"></script>
    <![endif]-->
    <script src="{{ site.url }}/{{ theme_path('assets/js/jquery.min.js') }}"></script>
    <script src="{{ site.url }}/{{ theme_path('assets/js/jquery.poptrox.min.js') }}"></script>
    <script src="{{ site.url }}/{{ theme_path('assets/js/skel.min.js') }}"></script>
    <script src="{{ site.url }}/{{ theme_path('assets/js/init.js') }}"></script>
    <noscript>
        <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/skel.css') }}"/>
        <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/style-xlarge.css') }}"/>
        <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/customize.css') }}" />
    </noscript>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/ie/v8.css') }}"/>
    <![endif]-->
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/monokai.css" />
    <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/customize.css') }}" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>

<body id="top">
    <!-- Header -->
    <header id="header">
        <a href="{{ site.url }}" class="image avatar"><img src="{{ site.url }}{{ site.authors.avatar }}" alt=""/></a>
        <h1>{{ site.authors.description }}</h1>
    </header>

    <!-- Main -->
    <div id="main">
        <section>
            <ul class="nav nav-pills">
                <li><a href="{{ site.url }}/about">who am <strong>I</strong>?</a></li>
                <li><a href="{{ site.url }}/projects">A little about <strong>projects</strong></a></li>
                <li><a href="{{ site.url }}/talks">What I like to <strong>talk</strong></a></li>
            </ul>

            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        {% include "footer" %}
    </footer>

    <!-- Body end -->
    {% include "bodyend" %}
</body>
</html>